* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;	
}
body {
	overflow-x: hidden;
}
header {
	background: black;
	color:  white;
	text-align: center;
	padding: 10px;
}
main {
	padding: 30px;
}
ul {
	display: block;
	position: relative;
	left: -2400px;

	margin: 20px;
	display: flex;
	justify-content: center;
	text-align: center;
		animation:  slideLeft 1s ease-out 0.5s forwards;

}
li {
	width: 200px;
	height: 200px;
	margin:  10px;
	border: 5px outset #eee;
/*	float:  left;*/
	list-style-type: none;
}
li:hover {
	background: lightblue;
	cursor: pointer;
/*	width: 205px;
	height: 205px;*/
}
footer {
	background: red;
	color: white;
	clear: both;
	text-align: center;
	padding: 30px;
	margin-bottom: 0;
}
img {	
	width: 150px;
	height: 150px;
}
li img:hover {
	width:  160px;
	height:  160px;
}
.highlight {
	color: yellow;
}

header {
	display:  block;
	position:  relative;
	top: -200px;
	animation:  slideDown 1s ease-out 0.5s forwards;
}

@keyframes slideDown {
	50% {top: 300px;}
	100% {top: 0px;}
}

@keyframes slideLeft {
	50% {left: 300px;}
	100% {left: 0px;}
}

.hide {
	animation: fadeOut 5s ease-out forwards;
}
@keyframes fadeOut {
	0% {opacity: 1}
	100% {opacity: 0}
}

.active, .active:hover{
	background: blue;
}

h3 {
	color: gray;
	display: block;
	position: relative;
	left:  900px;
	animation: scrollLeft 15s ease-in 2s infinite;
}
@keyframes scrollLeft {
	0% {left: 900px}
	100% {left: -900px}
}
