* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
header {
	background: black;
	color:  white;
	text-align: center;
	padding: 10px;
}
main {
	background: dodgerblue;
	padding: 30px;
}
ul {
	margin: 20px;
	display: flex;
	justify-content: center;
	text-align: center;
	
}
li {
	width: 200px;
	height: 200px;
	margin:  10px;
	border: 5px outset #eee;
	float:  left;
	list-style-type: none;
}
li:hover {
	background: lightblue;
	cursor: pointer;
}
footer {
	background: red;
	color: white;
	clear: both;
	text-align: center;
	padding: 30px;
}
img {
	
	width: 150px;
	height: 150px;
}
.highlight {
	color: yellow;
}